.timeline-1 {
  border-left: 3px solid #b565a7;
  background: rgba(177, 99, 163, 0.09);
  margin: 0 0 0 180px;
  list-style: none;
}

@media (max-width: 767px) {
  .timeline-1 {
    margin: 0;
    max-width: 100%;
    padding: 25px;
  }

  .timeline-1 .event:before {
    left: 0;
    text-align: left;
    white-space: pre-line;
  }
}

.timeline-1 .event {
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline-1 .event {
    padding-top: 30px;
  }
}

.timeline-1 .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}

.timeline-1 .event:before,
.timeline-1 .event:after {
  position: absolute;
}

.timeline-1 .event:before {
  left: -215px;
  content: attr(data-date) "\A" attr(type);
  white-space: pre;
  font-size: 0.9em;
  min-width: 120px;
  position: absolute;
  padding: 0;
}

@media (max-width: 767px) {
  .timeline-1 .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline-1 .event:after {
  -webkit-box-shadow: 0 0 0 3px #b565a7;
  box-shadow: 0 0 0 3px #b565a7;
  left: -38px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  margin-top: 5px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline-1 .event:after {
    left: -31.8px;
  }
}
